/*Universal selector, selects all HTML elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*will give background color for entire webpage*/ 
body {
    background-color: #d9dcd6;
}
/*will define the entire header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*changes color of "seo" within Horiseon h1 tag*/
.header span {
    color: #d9dcd6;
}
/*defines the nav*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*defines the li within the nav*/
.header li {
    display: inline-block;
    margin-left: 25px;
}
/*decides color of all font within an anchor*/
a {
    color: #ffffff;
    text-decoration: none;
   }
/*decides font size for all paragraphs*/
p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*.float-left, and float-right decide the side the text will appear when loaded*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*everything starting with content is in the content section*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*everything that starts with benefits is in the benefits section*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits div{
    margin-bottom: 32px;
    color: #ffffff;
}
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*used element selector to consolidate, h3 is in the benefits section*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

